.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-image: url('components/bg-intern.jpg') ;

}
#header{
  /* border: 2px solid black; */
  background-color: white;
  height: 7.7vh;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 23px grey;
}
.adjust{
  text-align: center;
  margin-top: 12px;
}
.adjust:hover{
  color: #5bc2a8;
  border-bottom: 3px solid #5bc2a8;
  cursor: pointer;
}
